body{
    background-color: black;
}
.fix{
    position:absolute;
    bottom:0px;
    left:50%;
}
.fix2{
    position:absolute;
    bottom:0px;
    left:45%;
}
.fix3{
    position:absolute;
    bottom:0px;
    left:40%;
}
.fix4{
    position:absolute;
    bottom:0px;
    left:35%;
}
.fix5{
    position:absolute;
    bottom:0px;
    left:30%;
}
h2{
    color:white
   
} 
h2{
    font-size: 40px;
}