body{
    background-color: black;
}
.fix{
    position:absolute;
    bottom:200px;
    left:50%;
}
.fix2{
    position:absolute;
    bottom:200px;
    left:42%;
}
.fix3{
    position:absolute;
    top:100px;
    left:50%;
}
.fix4{
    position:absolute;
    top:100px;
    left:42%;
}
.fix5{
    position:absolute;
    bottom:0px;
    left:30%;
}
.button {
    background-color: #e0caca; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#nameInput
{
    text-align: absolute;
}
#betInput
{
    text-align: absolute;
    position: absolute;
    bottom: 4px;
    left: 635px;
}
#hitInput  
{
    text-align: absolute;
    position: absolute;
    bottom: 20px;
    left: 933px;
}
#standInput  
{
    position: absolute;
    bottom: 20px;
    left: 965px;  
}
#foldInput
{
    position: absolute;
    bottom: 20px;
    left: 1015px;
}
#splitInput
{
    position: absolute;
    bottom: 20px;
    left: 1058px;
}
#hintInput
{
    position: absolute;
    bottom: 20px;
    left: 1100px;
}  
h2{
    color:white
   
} 
h2{
    font-size: 40px;
    position:absolute; /* To revert back to it being in center delete these last 2 lines*/
    top: 20px;
}
h3{
    color:white
}
h3{
    font-size:xx-large;
    position:absolute; /* To revert back to it being in center delete these last 2 lines*/
    top: 20px;
    left:500px
}
